@import './abstracts/abstracts';
@import './vendors/vendors';
@import './base/base';
@import './components/components';
@import './layout/layout';
@import './pages/pages';
@import './themes/themes';
@import 'settings';


$primary: #DB2A6B;
$text-gray: #ABABAB;
$bg-black: #2B2D38;
$bg-asian-women: #60D3D9;
$bg-european-women: #DB2A6B;
$bg-black-women: #F4B840;
$bg-black-man: #6E1FED;
$bg-smile-man: #FF7E29;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    color: white
}


.page {
    width: 2100px;
    height: 1200px;
    margin: 0 auto;
    background-color: $bg-black;
    padding: 2rem 10rem;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 5rem;

    .head-logo {
        font-family: 'Merriweather', serif;
        font-size: 2.5rem;
        font-weight: 900;

        .logo-text {
            color: white;

            span {
                color: $primary;
            }
        }
    }

    .head-nav {
        font-family: 'Merriweather', serif;
        font-size: 1rem;
        font-weight: 900;

        .main-nav {
            display: flex;
            list-style: none;
            gap: 3rem;

            li {
                a {
                    font-family: 'Merriweather', serif;
                    text-decoration: none;
                    color: $text-gray;

                    &:hover {
                        color: white;
                        text-decoration: underline;
                        text-decoration-color: $primary;
                        text-decoration-thickness: 2.5px;
                        text-underline-offset: 10px;
                    }
                }
            }
        }
    }
}

.hero {
    padding-top: 2rem
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
}


.hero-left {
    width: 100%;

    .hero-content {


        font-size: 3.2rem;

        h1 {
            padding-bottom: 2rem;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-size: 2rem;
            color: $text-gray;
            padding-bottom: 3rem;
        }
    }

    .hero-actions {
        font-family: 'Poppins', sans-serif;
        font-size: 1.8rem;
        color: white;
        font-style: normal;
        display: flex;
        gap: 2rem;
        padding-bottom: 10rem;

        .btn-primary {
            padding: 1.6rem 6rem;
            border-radius: 25px 25px 25px 0;
            text-decoration: none;
            background-color: $primary;



            &:visited {
                color: white;
            }
        }

        .btn-secondary {
            padding: 1.5rem 6rem;
            border-radius: 20px 20px 20px 0;
            text-decoration: underline;
            text-underline-offset: 5px;

            &:visited {
                color: white;
            }

            &::after {
                content: url('../img/arrow-icon.svg');
                position: absolute;
                padding-left: 1rem;
            }
        }
    }

    .hero-stats {
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .hero-stats-items {
            display: flex;
            gap: 1rem;

            img {
                width: 80px;
                height: 80px;
            }

            p {
                font-family: 'Poppins', sans-serif;
                font-size: 1.5rem;
            }
        }
    }
}

.hero-right {

    .elipse-1 {
        background-color: transparent;
        border-radius: 50% 45% 0 45%;
        width: 1000px;
        height: 1000px;
        position: absolute;
        border: 2px solid $text-gray;
        top: 10.5%;
        left: 51.7%;
        opacity: 20%;
    }

    .elipse-2 {
        background-color: transparent;
        border-radius: 50% 45% 0 45%;
        width: 700px;
        height: 700px;
        position: absolute;
        border: 2px solid $text-gray;
        top: 26%;
        left: 61.7%;
        opacity: 20%;
    }


    .hero-image-cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        div {
            width: 240px;
            border-radius: 70px;
            margin-bottom: 15px;
        }

        .hero-image-blackm {
            height: 550px;
            background-color: $bg-black-man;
            background-image: url('../img/dark-man.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .hero-image-asianw {
            background-color: $bg-asian-women;
            background-image: url('../img/asian-women.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 250px;
        }

        .hero-image-blackw {
            background-color: $bg-black-women;
            background-image: url('../img/dark-women.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 550px;

        }

        .hero-image-europeanw {
            background-color: $bg-european-women;
            background-image: url('../img/european-women.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 250px;

        }

        .hero-image-smilem {
            background-color: $bg-smile-man;
            background-image: url('../img/smile-man.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 550px;

        }
    }
}